body{
  width:flex;
  background:whitesmoke;
  margin:0;
  font-family:Lexend;
}

.menu{
  position:fixed;
  top:0;
  lest:-250px;
  width:250px;
  height:100%
  background:#141836
  transition:0.3s;
}

.menu.show{
  left:0;
}

.dashboard{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}
  
.container{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:220px;
  background:#111827;
  color:white;
  padding:20px;
}

.sidebar h2{
  margin-bottom:20px;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  padding:10px;
  border-radius:8px;
  margin-bottom:10px;
}

.sidebar a:hover{
  background:#374151;
}

.content{
  flex:1;
  padding:20px;
}

body{
  margin:0;
  font-family:Lexend;
}

.container{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:220px;
  background:#111827;
  color:white;
  padding:20px;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  padding:10px;
  border-radius:8px;
  margin-bottom:10px;
}

.sidebar a:hover{
  background:#374151;
}

.content{
  flex:1;
  padding:20px;
}

button{
  padding:10px;
  margin:5px;
}

#reader{
  width:100%;
  max-width:400px;
  margin:auto;
}

.item{
  margin:5px;
  padding:5px;
  border-bottom:1px solid #ccc;
}

#warning{
  color:white;
  background:red;
  padding:10px;
  border-radius:10px;
  margin:10px;
}

.card {
  /* Bayangan kartu */
  flex:1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px; /* Sudut melengkung */
  overflow: hidden; /* Memastikan gambar mengikuti border-radius */
  text-align:center;
}
.totalPerjalanan{
  background:#DBA858
}
.totalTiba{
background:#E89C31;
}
.belumTiba{
  background:#8C0E0F
}
.inbound{
  background:#4CAF50;
}

.retur{
  background:#F44336;
}

.manifest{
  background:#2196F3;
}

/* Efek hover saat mouse di atas card */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 16px;
}

/* Tabel */

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background: #fff;
}

th {
  text-align: left;
  background: #f2f2f2;
  padding: 12px;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* hover biar enak tracking */
tr:hover {
  background: #f9f9f9;
}

/* status biar gampang kebaca */
.status-done {
  color: green;
  font-weight: bold;
}

.status-process {
  color: orange;
  font-weight: bold;
}

/* mobile biar gak pecah */
@media (max-width: 600px) {
  table {
    font-size: 12px;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }
  .menu{
    display:flex !important;
    position:static;
    width:auto;
    height:auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .sidebar a {
    margin-right: 10px;
    flex-shrink: 0;
  }

  .content {
    width: 100%;
    padding: 10px;
  }

  #reader {
    width: 100% !important;
  }
  
#reader {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
  
}
#pagination{
  display:flex;
  justify-content:center;
  gap:5px;
  margin-top:20px;
  text-aligment:center;
}

#pagination button{

  width:15px;
  height:15px;

  border:none;
  border-radius:6px;

  background:#3E2F84;

  cursor:pointer;
}

#pagination button:hover{
  transform:scale(1.05);
}

.active-page{

  background:#1e293b !important;
  color:white;
}
