/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:whitesmoke;
  font-family:Lexend, sans-serif;
}

h1{
  text-align: center
}

h2{
  text-align: center
}
/* LAYOUT */
.app-wrapper{
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:180px;
  /* height:500px; */
  height:100vh;
  background:#111827;
  color:white;
  padding:20px;
  transition:0.3s;
}

.sidebar h2{
  margin-bottom:20px;
}

.sidebar a,
.dropdown-btn{
  display:block;
  color:white;
  text-decoration:none;
  padding:12px;
  border-radius:8px;
  margin-bottom:5px;
  cursor:pointer;
}

.sidebar a:hover,
.dropdown-btn:hover{
  background:#374151;
}

.sidebar-logo {
    text-align: center;      /* Posisikan logo di tengah sidebar */
    padding: 20px 10px;      /* Beri jarak atas/bawah */
    border-bottom: 1px solid #ccc; /* Garis pembatas opsional di bawah logo */
}

.sidebar-logo img {
    width: 100%;             /* Sesuaikan dengan lebar sidebar */
    max-width: 150px;        /* Batasi agar logo tidak terlalu besar */
    height: auto;            /* Menjaga rasio gambar agar tidak gepeng */
    object-fit: contain;
}

/* DROPDOWN */
.dropdown-content{
  display:none;
  margin-left:15px;
}

.dropdown-content.show{
  display:block;
}

.dropdown-content a{
  font-size:8px;
}

/* CONTENT */
.content{
  flex:1;
  padding:20px;
}

/* MENU BUTTON MOBILE */
.menu-btn{
  display:none;
  position:fixed;
  top:15px;
  left:15px;
  z-index:1000;

  border:none;
  background:#111827;
  color:white;

  padding:10px 14px;
  border-radius:8px;

  font-size:15px;
  cursor:pointer;
}

/* DASHBOARD */
/* .dashboard{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
} */
.dashboard-header{
  display:flex;
  flex-direction:column;
}

.search-box{
  margin-top:20px;

  display:flex;
  gap:10px;
}
/* CARD PESANAN */
/* .cards-pesanan{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
} */

/* CARD */
.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.card{
  padding:20px;
  border-radius:10px;
  text-align:center;
  color:white;
}

  box-shadow:0 4px 8px rgba(0,0,0,0.2);
  transition:0.3s;

  border-radius:10px;
  overflow:hidden;
  text-align:center;
  color:white;
  padding:20px;
}

.card:hover{
  transform:translateY(-3px);
}

/* WARNA CARD */
.totalPerjalanan{
  background:#DBA858;
}

.totalTiba{
  background:#E89C31;
}

.belumTiba{
  background:#8C0E0F;
}

.inbound{
  background:#4CAF50;
}

.retur{
  background:#F44336;
}

.manifest{
  background:#2196F3;
}
.totalPesanan{
  background:#E77577;
}

.transitShopee{
  background:#FC6238;
}

.transitTiktok{
  background:#00B0BA;
}

/* BUTTON */
button{
  padding:10px;
  margin:5px;
}

/* QR READER */
#reader{
  width:100%;
  max-width:500px;
  margin:auto;
  border-radius:10px;
  overflow:hidden;
}

/* ITEM */
.item{
  margin:5px;
  padding:5px;
  border-bottom:1px solid #ccc;
}

/* WARNING */
#warning{
  color:white;
  background:red;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
  font-size:8px;
  background:white;
}

th{
  text-align:left;
  background:#f2f2f2;
  padding:12px;
  border-bottom:2px solid #ddd;
  position:sticky;
  top:0;
}

td{
  padding:10px;
  border-bottom:1px solid #eee;
}

tr:hover{
  background:#f9f9f9;
}

/* STATUS */
.status-done{
  color:green;
  font-weight:bold;
}

.status-process{
  color:orange;
  font-weight:bold;
}

/* PAGINATION */
#pagination{
  display:flex;
  justify-content:center;
  gap:5px;
  margin-top:20px;
}

#pagination button{
  width:15px;
  height:15px;

  border:none;
  border-radius:6px;

  background:#3E2F84;
  cursor:pointer;
}

#pagination button:hover{
  transform:scale(1.05);
}

.active-page{
  background:#1e293b !important;
  color:white;
}

/* MOBILE */
@media(max-width:768px){

  .menu-btn{
    display:block;
  }

  .sidebar{
    position:fixed;
    left:-250px;
    top:0;

    width:220px;
    height:100vh;

    z-index:999;
  }

  .sidebar.show{
    left:0;
  }

  .content{
    width:100%;
    padding:70px 10px 10px;
  }

  .cards{
    flex-direction:column;
  }

  table{
    font-size:6px;
  }

}
