<button class="menu-btn" id="menuBtn">
☰
</button>

<div class="container">

  <div class="sidebar">
    <div class="sidebar-logo">
      <img src="/LogoZG.png" alt="logo website">
    </div>

    <h2>MENU</h2>

    <a href="../page/scan.html">
      Scan
    </a>

    <a href="../page/index.html">
      Dashboard
    </a>
  <!-- Order List -->
  <div class="dropdown">

    <div class="dropdown-btn">
      Perlu Dikirim ▼
    </div>

    <div class="dropdown-content">

      <a href="../page/orderlisttiktok.html">
        TikTok
      </a>

      <a href="../page/orderlistshopee.html">
        Shopee
      </a>

    </div>

  </div>
   <!-- Transit -->
  <div class="dropdown">

    <div class="dropdown-btn">
      Transit ▼
    </div>

    <div class="dropdown-content">

      <a href="../page/transittiktok.html">
        TikTok
      </a>

      <a href="../page/transitshopee.html">
        Shopee
      </a>

    </div>

  </div>

      <!-- MANIFEST -->
  <div class="dropdown">

    <div class="dropdown-btn">
      Manifest ▼
    </div>

    <div class="dropdown-content">

      <a href="../page/manifesttiktok.html">
        TikTok
      </a>

      <a href="../page/manifestshopee.html">
        Shopee
      </a>

    </div>

  </div>

  <!-- INBOUND -->
  <div class="dropdown">

    <div class="dropdown-btn">
      Inbound ▼
    </div>

    <div class="dropdown-content">

      <a href="../page/inboundtiktok.html">
        TikTok
      </a>

      <a href="../page/inboundshopee.html">
        Shopee
      </a>

  </div>

</div>
